@media only screen and (max-width: 600px) {
  .content-part1,
  .content-part2,
  .content-part3 {
    text-align: left;
    font-size: large;
    padding: 2rem, 5rem;

    padding-left: 30px;
    padding-top: 30px;
  }
  .button {
    margin-left: 1rem;
    background-color: azure;
    margin-right: 2rem;
    border-radius: 70px;
    text-align: center;
    padding: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .button {
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: azure;
    margin-right: 2rem;
    text-align: center;
    padding: 10px;
    border-radius: 70px;
  }
  .button:hover {
    background-color: black;
    transition: all 0.5s;
  }

  .content-part1,
  .content-part2,
  .content-part3 {
    text-align: left;
    font-size: large;
    padding: 2rem, 5rem;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  #card-section {
    width: 100%;
    margin: 0px;
  }
  .content-part1,
  .content-part2,
  .content-part3 {
    text-align: left;
    font-size: larger;
  }
  .button {
    border-radius: 70px;
  }
}

@media only screen and (min-width: 750px) {
  .content-part1,
  .content-part2,
  .content-part3 {
    text-align: left;
    font-size: larger;
    height: 400px;
    width: 10rem;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
  }

  .button {
    border-radius: 70px;
  }
  .tog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
}

@media only screen and (max-width: 1000px) {
  .content-part1,
  .content-part2,
  .content-part3 {
    text-align: left;
    font-size: larger;
  }
}
