/**body{
  width:100%;
  
}*/

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card-section {
  width: 100%;
}
 
  

.content-part1 {
  background-color: #e28625;
}
.content-part2 {
  background-color: #0069;
}
.content-part3 {
  background-color:#004140;
}

.content-part1,.content-part2,.content-part3 {
  width: 100;
  height: 500px;
  top: 171px;
  left: 260px;
}
.button{
  margin-top: 2rem;
}